.header-style {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #fdfcfd;
  z-index: 1000;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


.day-button {
  padding: 10px 20px;
  margin: 5px;
  border: 1px solid #333;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  font-size: 16px;
}

.day-button.selected {
font-family: "Open Sans", sans-serif;
font-size: 16px;
letter-spacing: 2px;
text-decoration: none;
text-transform: uppercase;
color: #000;
cursor: pointer;
border: 3px solid;
box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
position: relative;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
background-color: yellow;
}
.submit-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: green;
  color: white;
  cursor: pointer;
  border: none;
}

#result {
  margin-top: 20px;
  font-size: 18px;
}
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #a2a2a2cc;
}

h1 {
  color: #333;
  text-align: center;
}
#daysContainer {
   display: flex;
   justify-content:center;
   

}


.day-button {
font-family: "Open Sans", sans-serif;
font-size: 16px;
letter-spacing: 2px;
text-decoration: none;
text-transform: uppercase;
color: #000;
cursor: pointer;
border: 3px solid;
padding: 0.25em 0.5em;
box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
position: relative;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
margin-left: 15px;
margin-right: 15px;
}

.day-button:active {
box-shadow: 0px 0px 0px 0px;
top: 5px;
left: 5px;
}
.day-button-two {
font-family: "Open Sans", sans-serif;
font-size: 16px;
letter-spacing: 2px;
text-decoration: none;
text-transform: uppercase;
color: #000;
cursor: pointer;
border: 3px solid;
padding: 0.25em 0.5em;
box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
position: relative;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
margin-left: 15px;
margin-right: 15px;
background-color: rgb(91, 182, 107);
}

.day-button-two:active {
box-shadow: 0px 0px 0px 0px;
top: 5px;
left: 5px;
}


@media (min-width: 768px) {
.day-button {
padding: 0.25em 0.75em;
}
.submit-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: rgb(41, 41, 41);
}

#result {
margin-top: 20px;
font-size: 18px;
white-space: pre-wrap;
border: 1px solid #ccc;
padding: 15px;
border-radius: 5px;
font-family: Arial, sans-serif;
color: #333; 
line-height: 1.5; 
text-align: center; 
color: rgb(42, 42, 42);
background-color:#e2e2e2;
}


.workout-title {
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #007BFF; 
}

.exercise {
  margin-left: 20px;
}
.submit_button {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  margin-top: 20px;
}

.submit_button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.submit_button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.submit_button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.text-under {
  text-align: center;
  font-size: 40px;
  color: #fff;
  font-family: "Pinyon Script", cursive;
  margin-top: 10px;
}

.select-text {
  font-family: "Pinyon Script", cursive;
}

.select-align {
  align-items: center;
  padding-bottom: 500px;
  margin-top: 20px;
}
.submit_button {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  margin-top: 20px;
}

.submit_button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.submit_button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.submit_button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.text-under {
  text-align: center;
  font-size: 40px;
  color: #fff;
  font-family: "Pinyon Script", cursive;
  margin-top: 10px;
}

.select-text {
  font-family: "Pinyon Script", cursive;
}

.select-align {
  align-items: center;
  padding-bottom: 500px;
  margin-top: 20px;
}
